#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# untracked files:
#=================

# exclude the very check-in script, since problems might occur, if check-in script checks itself in
check-in


# exclude just everything - only the wanted stuff is (re-)included afterwards by !....
*


# exclude annoying stuff
#
# DOSe
Thumbs.db
#
# Mac OS X
.DS_Store





#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# except / tracked files: -> !...
#================================

# (re-)include GIT related files
!.gitignore

# (re-)include project description related files
!readme.md
!ReadMe.txt

# (re-)include source code
!*.java

# (re-)include required BlueJ files
!package.bluej
!bluej.pkg                              # check, if this is really required
#
#  *.ctxt   is excluded, since (re-)produced by compiler
#  *.class  is excluded, since (re-)produced by compiler





#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# THE END  -  END OF SCRIPT
#==========================
#
#
#VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
#
# => only the listed exceptions in the current directory are checked in
#
# "!.gitignore"
#     including ".gitignore" results in same (git-)behavior everywhere - is this wanted?
#
# "*" 
#     excludes everything - unfortunately it is NOT supported to (re)include a (sub-)directory afterwards (2014/10/15)
#
#     but, you can type directly in GIT bash e.g.:
#     "git add --force CEPtemplate/Project/*.h"
#     "git add --force CEPtemplate/Project/*.c"
#
#
#
# see:
#
# http://git-scm.com/docs/gitignore
#
# http://stackoverflow.com/questions/6919121/why-are-there-2-ways-to-unstage-a-file-in-git
# git rm --cached
# git reset HEAD file
#
# http://stackoverflow.com/questions/12191254/gitignore-continue-to-track-file-after-adding-it-once-by-force
#
#
#
#
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# Checklist of file that might be checked in
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# ...
#
